<div class="container" id="home-container">
    <div class="jumbotron text-center text-black">
        <h1 class="display-4">вы сейчас на сайте</h1>
        <p class="lead">этот сайт был создан DEXTER </p>
        <hr class="my-4">
        </div>
        </div>
