@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: #44cbcf !important;
    
    }

    html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
    background-color: lightgray;
}

#sticky-footer {
    flex-shrink: none;
    margin-top: 0px;
}


#home-container {
    margin-top: 0px;
  }
  
.jumbotron {
      background-image: asset-url("zaza2.jpg");
      
      background-repeat: no-repeat;
      background-size: cover;
      height: 1000px; 
}
